:root {
  --color-textPrimeri: #ffffff;
  --color-bagraund: #0b1d26;
  --color-bg-buton: #283036;
  --background: #1e252b;
  --background-button: #ff6e30;
  --smol-text-color: #ffa537;
  --link-color: rgba(255, 255, 255, 0.55);
  --color-header-button: #fdf5ff;
  --text-color-aplicationcolor: rgba(255, 255, 255, 0.9);
  --aplication-color: rgba(255, 255, 255, 0.8);
  --seachcolor: #283036;
}
.container {
  max-width: 1254px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
  font-weight: 500;
  font-size: 18px;
}
/* ====================================header==================================== */
.header-container {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-list {
  display: flex;
  align-items: center;
  gap: 41px;
}
.logo {
  font-weight: 600;
  font-size: 22px;
  color: var(--color-textPrimeri);
  display: flex;
  align-items: center;
  gap: 21px;
}
.logo::before {
  content: "";
  background-image: url(../css/imeges/logophoto.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}
.nav-header-link {
  font-weight: 500;
  font-size: 16px;
  color: var(--link-color);
}
.navigation-header-link {
  font-weight: 500;
  font-size: 16px;
  color: var(--link-color);
  display: flex;
  align-items: center;
  gap: 10px;
}
.navigation-header-link::after {
  content: "";
  background-image: url(../css/imeges/strelkebotom.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 9px;
  height: 5px;
}
.header-item-link {
  font-weight: 600;
  font-size: 16px;
  color: var(--link-color);
}
.header-link {
  font-weight: 600;
  font-size: 16px;
  color: var(--color-header-button);
  background-color: var(--background-button);
  border-radius: 8px;
  padding: 12px 28px;
}
/* =============================================header===================================== */
.hero-titel {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 50px;
  line-height: 140%;
  color: var(--color-header-button);
}
.hero-titel-dot {
  color: var(--background-button);
}
.hero-text {
  font-weight: 400;
  line-height: 167%;
  color: var(--link-color);
  margin-bottom: 60px;
  width: 487px;
  height: 60px;
}
.hero-search {
  border-radius: 15px;
  background-color: var(--seachcolor);
  width: 497px;
  height: 64px;
  justify-content: space-between;
  display: flex;
  gap: 111px;
  align-items: center;
}
.hero-section {
  width: 600px;
  height: 354px;
  margin-top: 104px;
  padding-bottom: 170px;
}
.search-input {
  border-color: var(--seachcolor);
  background-color: var(--seachcolor);
  border: 0px;
  font-weight: 400;
  font-size: 14px;
  color: var(--link-color);
  width: 227px;
  height: 24px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  margin-left: 18px;
  gap: 13px;
}
.search-input::before {
  content: "";
  background-image: url(../css/imeges/lypa.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
.search-button {
  font-weight: 600;
  font-size: 16px;
  color: var(--color-textPrimeri);
  background-color: var(--background-button);
  border-radius: 8px;
  padding: 12px 36px;
  width: 130px;
  height: 48px;
  margin-right: 11px;
  border: 0px;
}
/* =================================================hero-main=============================================== */
.navigation-titel {
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color: var(--color-textPrimeri);
}
.navigation-text {
  line-height: 167%;
  text-align: center;
  color: var(--link-color);
}
.card-titel {
  font-weight: 500;
  font-size: 24px;
  color: var(--text-color-aplicationcolor);
}
.card-text {
  font-weight: 400;
  color: var(--smol-text-color);
}
.Application-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: var(--link-color);
}
.Application-button-carts {
  font-weight: 600;
  font-size: 16px;
  color: var(--color-textPrimeri);
  background-color: var(--background-button);
  padding: 9px 35px;
  border-radius: 8px;
}
.kard-text {
  font-weight: 600;
  font-size: 16px;
  color: var(--link-color);
}
.Application-button {
  color: var(--background-button);
  font-weight: 500;
  font-size: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  background-color: var(--background);
  padding: 17px 38px;
}
.name-Application-titel {
  padding-top: 55px;
  font-size: 24px;
  color: var(--text-color-aplicationcolor);
  text-align: center;
  padding-bottom: 55px;
}
.Application-list {
  display: flex;
  justify-content: center;
  gap: 107px;
  padding-bottom: 56px;
}
.name-Application {
  background-image: url(./imeges/tin.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.Stylization-titel {
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  color: var(--color-header-button);
}
.Stylization-text {
  line-height: 167%;
  color: var(--link-color);
}
.Stylization-button {
  border-radius: 8px;
  background-color: var(--background-button);
  color: var(--color-textPrimeri);
  padding: 15px 40px;
}
.Stylization-titel-name {
  font-size: 24px;
  color: var(--text-color-aplicationcolor);
}
.Stylization-titel-text {
  font-weight: 400;
  color: var(--smol-text-color);
}
.cart-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  color: var(--link-color);
}
.information-text {
  padding-left: 120px;
  padding-top: 110px;
  padding-bottom: 46px;
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  letter-spacing: 0.01em;
  color: var(--text-color-aplicationcolor);
  display: flex;
  align-items: center;
}
/* .information-section::before {
  content: "";
  background-image: url(./imeges/manphoto.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 399px;
  height: 492px;
} */
.bay-titel {
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color: var(--color-header-button);
}
.text-Stylization {
  font-weight: 600;
  font-size: 16px;
  color: var(--link-color);
}
.button-subtext {
  border-radius: 8px;
  background-color: #ff6e30;
  padding: 9px 35px;
  color: var(--color-header-button);
}
.bay-text {
  line-height: 167%;
  text-align: center;
  color: var(--link-color);
}
.footer-logo {
  font-weight: 600;
  font-size: 22px;
  color: var(--color-textPrimeri);
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer-logo::before {
  content: "";
  background-image: url(./imeges/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 8px;
  width: 38px;
  height: 38px;
}
.information-section {
  display: flex;
}
/* =============================foote========================================= */
.info-titel {
  font-size: 20px;
  color: var(--color-header-button);
}
.info-item {
  font-size: 16px;
  color: var(--link-color);
}
.information-head {
  font-size: 16px;
  color: var(--color-header-button);
}
.information-text-antool {
  font-weight: 400;
  font-size: 14px;
  line-height: 179%;
  color: var(--link-color);
}
