:root {
  --color-textPrimeri: #ffffff;
  --color-bagraund: #0b1d26;
  --color-bg-buton: #283036;
  --background: #1e252b;
  --background-button: #ff6e30;
  --smol-text-color: #ffa537;
  --link-color: rgba(255, 255, 255, 0.55);
  --color-header-button: #fdf5ff;
  --text-color-aplicationcolor: rgba(255, 255, 255, 0.9);
  --aplication-color: rgba(255, 255, 255, 0.8);
  --seachcolor: #283036;
}
.container {
  max-width: 1254px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.hero-container {
  margin-top: 60px;
  background-image: url(/imeges/bgphotohero.svg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 568 589px;
  padding-bottom: 200px;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
  font-weight: 500;
  font-size: 18px;
}
/* ====================================header==================================== */
.header-container {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-list {
  display: flex;
  align-items: center;
  gap: 41px;
}
.logo {
  font-weight: 600;
  font-size: 22px;
  color: var(--color-textPrimeri);
  display: flex;
  align-items: center;
  gap: 21px;
}
.logo::before {
  content: "";
  background-image: url(/imeges/logophoto.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}
.nav-header-link {
  font-weight: 500;
  font-size: 16px;
  color: var(--link-color);
}
.navigation-header-link {
  font-weight: 500;
  font-size: 16px;
  color: var(--link-color);
  display: flex;
  align-items: center;
  gap: 10px;
}
.navigation-header-link::after {
  content: "";
  background-image: url(/imeges/strelkebotom.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 9px;
  height: 5px;
}
.header-item-link {
  font-weight: 600;
  font-size: 16px;
  color: var(--link-color);
}
.header-item-link:hover {
  font-weight: 600;
  font-size: 16px;
  color: var(--color-header-button);
  background-color: var(--background-button);
  border-radius: 8px;
  padding: 12px 28px;
}
.header-aplication-list {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 110px;
}
/* =============================================header===================================== */
.hero-titel {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 50px;
  line-height: 140%;
  color: var(--color-header-button);
}
.hero-titel-dot {
  color: var(--background-button);
}
.hero-text {
  font-weight: 400;
  line-height: 167%;
  color: var(--link-color);
  margin-bottom: 60px;
  width: 487px;
  height: 60px;
}
.hero-search {
  border-radius: 15px;
  background-color: var(--seachcolor);
  width: 497px;
  height: 64px;
  justify-content: space-between;
  display: flex;
  gap: 111px;
  align-items: center;
}
.hero-section {
  max-width: 600px;
  padding-top: 44px;
  padding-bottom: 170px;
}
.search-input {
  background-color: var(--seachcolor);
  font-weight: 400;
  font-size: 14px;
  color: var(--link-color);
  width: 227px;
  height: 24px;
  margin-left: 18px;
  display: flex;
  align-items: center;
  background-image: url(/imeges/lypa.png);
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 35px;
}
.search-button {
  font-weight: 600;
  font-size: 16px;
  color: var(--color-textPrimeri);
  background-color: var(--background-button);
  padding: 12px 36px;
  margin-right: 11px;
}
.search-button:hover {
  background-color: var(--background);
  border: 1px solid var(--background-button);
}
/* =================================================hero-main=============================================== */
.tools-titel {
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color: var(--color-textPrimeri);
}
.tools-text {
  margin-top: 25px;
  margin: auto;
  width: 427px;
  height: 60px;
  line-height: 167%;
  text-align: center;
  color: var(--link-color);
}
.cards-footer-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.card-footer {
  display: flex;
  align-items: center;
  gap: 12px;
}
.card-footer-button {
  padding: 9px 35px;
  background-color: var(--background);
  font-weight: 600;
  font-size: 16px;
  color: var(--link-color);
}
.card-footer-button:hover {
  color: var(--color-textPrimeri);
  background-color: var(--background-button);
}
/* .card-footer-photo:hover {
  background-image: url(/imeges/liketwo.png);
  width: 42px;
  height: 42px;
} */
.tools-container {
  display: flex;
  justify-content: center;
}
.tools-kards {
  padding: 30px 30px;
}
.cards-container {
  padding-bottom: 100px;
}
.tools-kards:hover {
  background-image: url(/imeges/bgimgtools.png);
  border-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-titel {
  font-weight: 500;
  font-size: 24px;
  color: var(--text-color-aplicationcolor);
  display: flex;
  align-items: center;
}
.titel-text-cardone {
  gap: 30px;
  display: flex;
  align-items: center;
}
.titel-text-cardone::before {
  content: "";
  background-image: url(/imeges/toolsfirsticon.svg);
  background-repeat: no-repeat;
  width: 76px;
  height: 66px;
  background-size: contain;
  background-position: center;
}
.titel-text-cardtwo {
  gap: 30px;
  display: flex;
  align-items: center;
}
.titel-text-cardthree {
  gap: 30px;
  display: flex;
  align-items: center;
}
.titel-text-cardfour {
  gap: 30px;
  display: flex;
  align-items: center;
}
.titel-text-cardfive {
  gap: 30px;
  display: flex;
  align-items: center;
}
.titel-text-cardsix {
  gap: 30px;
  display: flex;
  align-items: center;
}
.titel-text-cardtwo::before {
  content: "";
  background-image: url(/imeges/phototwo.svg);
  background-repeat: no-repeat;
  width: 76px;
  height: 66px;
  background-size: contain;
  background-position: center;
}
.titel-text-cardthree::before {
  content: "";
  background-image: url(/imeges/toolsphototree.svg);
  background-repeat: no-repeat;
  width: 76px;
  height: 66px;
  background-size: contain;
  background-position: center;
}
.titel-text-cardfour::before {
  content: "";
  background-image: url(/imeges/toolsnotion.png);
  background-repeat: no-repeat;
  width: 76px;
  height: 66px;
  background-size: contain;
  background-position: center;
}
.titel-text-cardfive::before {
  content: "";
  background-image: url(/imeges/fivephototools.svg);
  background-repeat: no-repeat;
  width: 76px;
  height: 66px;
  background-size: contain;
  background-position: center;
}
.titel-text-cardsix::before {
  content: "";
  background-image: url(/imeges/sixphototools.svg);
  background-repeat: no-repeat;
  width: 76px;
  height: 66px;
  background-size: contain;
  background-position: center;
}
.cards-container {
  margin-top: 90px;
}
.card-text {
  font-weight: 400;
  color: var(--smol-text-color);
}
.cards-text {
  font-weight: 600;
  font-size: 16px;
  color: var(--link-color);
}
.Application-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: var(--link-color);
}
.tools-button {
  color: var(--background-button);
  font-weight: 500;
  font-size: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: var(--background);
  padding: 17px 38px;
  text-align: center;
}
.partners {
  margin-top: 200px;
  margin-bottom: 200px;
  width: 1224px;
  height: 253px;
  background-image: url(/imeges/tin.png);
}
.partners-titel {
  padding-top: 55px;
  font-size: 24px;
  color: var(--text-color-aplicationcolor);
  text-align: center;
  padding-bottom: 55px;
}
.partners-list {
  display: flex;
  justify-content: center;
  gap: 107px;
}
.load-container {
  display: flex;
  justify-content: center;
}
.newcomer-titel {
  margin-top: 30px;
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  color: var(--color-header-button);
}
.newcomer-text {
  line-height: 167%;
  color: var(--link-color);
  margin-bottom: 60px;
}
.text-newcomer {
  font-weight: 600;
  font-size: 16px;
  color: var(--link-color);
}
.newcomer-link {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: var(--background-button);
  color: var(--color-textPrimeri);
  padding: 15px 40px;
}
.newcomer-name {
  font-size: 24px;
  color: var(--text-color-aplicationcolor);
}
.newcomer-subtitel {
  font-weight: 400;
  color: var(--smol-text-color);
}
.newcomer {
  display: flex;
  gap: 197px;
}
.newcomer-container {
  width: 427px;
  height: 300px;
}
.newcomer-list {
  width: 600px;
  height: 638px;
  display: flex;
  flex-wrap: wrap;
}
.search-footer {
  display: flex;
  align-items: center;
  gap: 43px;
}
.search-footer-list {
  gap: 12px;
  display: flex;
  align-items: center;
}
.photo-container-one {
  display: flex;
  align-items: center;
  gap: 30px;
}
.photo-container-one::before {
  content: "";
  background-image: url(/imeges/firstphotozeplin.png);
  width: 64px;
  height: 64px;
}
.photo-container-two {
  display: flex;
  align-items: center;
  gap: 30px;
}
.photo-container-two::before {
  content: "";
  background-image: url(/imeges/phototwonewcomer.png);
  width: 64px;
  height: 64px;
}
.photo-container-three {
  display: flex;
  align-items: center;
  gap: 30px;
}
.photo-container-three::before {
  content: "";
  background-image: url(/imeges/newcomertoolbox.png);
  width: 64px;
  height: 64px;
}
.photo-container-four {
  display: flex;
  align-items: center;
  gap: 30px;
}
.photo-container-four::before {
  content: "";
  background-image: url(/imeges/newcomerprocreate.png);
  width: 64px;
  height: 64px;
}
.cart-text {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  color: var(--link-color);
  width: 245px;
  height: 60px;
}
.newcomer-container-end {
  display: flex;
  gap: 24px;
}
.newcomer-karts {
  padding: 30px 30px;
  margin-bottom: 50px;
}
.newcomer-karts:hover {
  background-image: url(/imeges/newcomerbg.png);
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.newcomer-card-end {
  width: 106px;
  height: 42px;
  color: var(--link-color);
  background-color: var(--background);
}
.newcomer-card-end:hover {
  width: 106px;
  height: 42px;
  background-color: var(--background-button);
  color: var(--color-header-button);
}

.develo {
  gap: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.develo-text {
  padding-left: 55px;
  padding-top: 60px;
  background-image: url(/imeges/“.png);
  background-position: top left;
  background-repeat: no-repeat;
  width: 393px;
  height: 180;
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.78);
}
.subscribe-titel {
  margin-top: 250px;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color: var(--color-header-button);
}
.text-Stylization {
  font-weight: 600;
  font-size: 16px;
  color: var(--link-color);
}
.button-subtext {
  border-radius: 8px;
  background-color: var(--background-button);
  padding: 9px 35px;
  color: var(--color-header-button);
}
.subscribe-text {
  line-height: 167%;
  text-align: center;
  color: var(--link-color);
  max-width: 427px;
  margin: auto;
}
.become-form {
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 15px;
  width: 549px;
  height: 64px;
  background-color: var(--seachcolor);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.becoma-button {
  font-weight: 600;
  font-size: 16px;
  width: 130px;
  height: 48px;
  margin-right: 12px;
  color: var(--color-header-button);
  background-color: var(--background-button);
}
.becoma-button:hover {
  background-color: var(--background);
  width: 130px;
  height: 48px;
  border: 1px solid var(--background-button);
}
.become-input {
  font-weight: 400;
  font-size: 14px;
  color: var(--link-color);
  background-color: var(--seachcolor);
  margin-left: 25px;
}

.information-section {
  display: flex;
}
/* =============================foote========================================= */
.footer-logo {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 22px;
  color: var(--color-textPrimeri);
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer-logo::before {
  content: "";
  background-image: url(/imeges/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 8px;
  width: 38px;
  height: 38px;
}
.footer-container {
  display: flex;
  margin-bottom: 98px;
}
.info-titel {
  margin-bottom: 20px;
  font-size: 20px;
  color: var(--color-header-button);
}
.info-item {
  margin-bottom: 10px;
  font-size: 16px;
  color: var(--link-color);
}
.information-head {
  margin-bottom: 21px;
  font-size: 16px;
  color: var(--color-header-button);
}
.footer-information {
  margin-right: 156px;
}
.information-text-antool {
  max-width: 260px;
  font-weight: 400;
  font-size: 14px;
  line-height: 179%;
  color: var(--link-color);
}
.contacts-contaner {
  gap: 115px;
  display: flex;
}
.linea {
  margin: auto;
  margin-top: 240px;
  border: 0.5px solid rgba(255, 255, 255, 0.15);
  width: 1440px;
  height: 0.5;
  margin-bottom: 70px;
}
